// FUENTES

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');
$font: "rubik", sans-serif;

// COLORES

$primary-blue: #022E57;
$primary-pink: #FF8058;
$secondary-blue: #005A8D;
$secondary-pink: #FFF5FD;
